<!-- Author: Justin Keene -->
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'keenesolarpv/https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'keenesolarpv/Project1CSS.css' %}">
		<!-- Top navigation -->
		<div class="topnav">
		  <!-- Centered link -->
		  <div class="topnav-centered">   
			<a href="{% url 'Project1' %}"><img src="{% static 'keenesolarpv/solarPV.png' %}"  width="50" height="52"></a>		
		  </div>
		  <!-- Left-aligned links (default) -->
					<a href="{% url 'web_portal' %}">Web Portal</a>
					<a href="{% url 'testing' %}">Testing and Certification</a>
					<a href="#">PV Systems</a>
					<a href="#">Data Analytics</a>
					<a href="#">Cybersecurity</a>
		  <!-- Right-aligned links -->
		  <div class="topnav-right">			
			<a href="{% url 'login' %}">Login</a>
			<a href="{% url 'registration' %}">Register</a>
		  </div>	
		</div>	
	</head>
<body>	

</body>
<footer>
		<p> &copy; Copyright 2020 </p>
		<div id="footer" class="foot">
			<a href="#" style="color:white;">Contact</a>
			<a href="#" style="color:white;">Terms and Services</a>
			<a href="#" style="color:white;">Policy</a>
			<a href="about.html" style="color:white;">About Us</a>			
		</div>
	</footer>
</html>